 <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
   <a routerLink='/home' class="navbar-brand ml-5 mr-5">Movie Mania</a>
   <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse6">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarCollapse6">
     <form #searchForm="ngForm" (ngSubmit)="searchMovies(searchForm)" class="form-inline ml-5 mr-auto">
       <input type="text" class="form-control mr-sm-2" ngModel name="searchString" placeholder="Search">
       <button type="submit" class="btn btn-outline-light">Search</button>
     </form>
     <div class="navbar-nav">
       <a class="nav-item nav-link" routerLink="/home">Home</a>
       <a class="nav-item nav-link" routerLink="/my-movies">My Movies</a>
       <a class="nav-item nav-link logout" (click)="logout()">Logout</a>
     </div>
   </div>
 </nav>
