<app-header></app-header>
<div class="container">
  <h1 class="my-4">{{ movie.name }}</h1>
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" [src]="movie.thumbnailUrl" alt="">
    </div>
    <div class="col-md-6">
      <h3 class="my-3">Description</h3>
      <p>{{ movie.descritpion }}</p>
      <h3 class="my-3">Genres</h3>
      <ul>
        <li *ngFor="let genre of movie.genres">{{ genre.name }}</li>
      </ul>
      <star-rating [value]="5" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="24px" [readonly]="false" (rate)="onRate($event)"></star-rating>
    </div>
  </div>
</div>
